@import "tailwindcss";
body {
  background: linear-gradient(to bottom right, #000000, #111827, #1f2937);
}
/* In index.css */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(128, 90, 213, 0.5); /* purple-500 with transparency */
  border-radius: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

